/* @theme zrenard */

@import 'gaia';
@import url('https://unpkg.com/tailwindcss@^2/dist/utilities.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


img[alt~="slide-right"] {
  position: absolute;
  top: 240px;
  right: 30px;
}

img[alt~="slide-left"] {
    position: absolute;
    top: 240px;
    left: 30px;
  }

  img[alt~="slide-center"] {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  section::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
  }